* {
  margin: 0;
  padding: 0;

  /* --- Site colours and fonts --- */
  --grey1: #f9f9fb;
  --grey2: #eeedf2;
  --grey3: #cccccc;
  --grey4: #999999;
  --black: #333333;
  --white: #ffffff;
  --green1: #d3f1f2;
  --green2: #92d4d0;
  --green3: #449690;
  --green4: #00403b;

  --font1: 'Urbanist';
  --font2: 'Outfit';

  font-family: var(--font1);
}

/* --- Header --- */
header {
  background-color: var(--green4);
}
.menu-area {
  display: flex;
}
.menu-area > a {
  color: var(--green2);
  text-decoration: none;
  display: flex;
}
.logo > div > h3{
  font-weight: 400;
}
nav {
  min-width: 1200px;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item {
  color: var(--green2);
  display: flex;
}
.menu-item > h3 {
  font-weight: 400;
}